
body{
  background-color: var(--bg-mobile);
  color: var(--font-color-mobile)
}
 
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: var(--bg-tablet);
    color: var(--font-color-tablet)
  }
}

@media (min-width: 1024px) {
  body {
    background-color: var(--bg-desktop);
    color: var(--font-color-desktop)
  }
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

:root {
    --main-bg-color: blanchedalmond;
    --secondary-color: #6296e4;
    --menu-color: #47463d;
    --menu-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --main-body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --title-font: Georgia, 'Times New Roman', Times, serif;
    --menu-text-color: whitesmoke; 
    --main-body-text-color: whitesmoke; 
    --title-color: whitesmoke;
    --main-body-font-size: 20px;
    --def-page-padding: 100px 5% 0px 5%; 
    --title-padding: 18px 0px 18px 0px;
    --introduction-padding: 0% 5% 0px 5%;
    --bg-mobile: #f5f5f5;
    --bg-tablet: var(--main-bg-color);
    --bg-desktop: #282828;
    --font-color-mobile: #222;
    --font-color-tablet: #363b38;
    --font-color-desktop: #ffffff;
    --grid-background-color: orange;
    --footer-color: whitesmoke;
}



h1 { 
font-size: 1.5rem;
text-align: center;
font-family: var(--title-font);
background-color: var(--menu-color);
margin: 0px; 
padding: var(--title-padding);
color: var(--title-color);
animation: title-slide-in 2s 1 forwards;
}

@keyframes title-slide-in {
from {
transform: translateX(-100%);
opacity: 0;
}
to {
transform: translateX(0);
opacity: 1;
}
}


@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 2.5rem;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 3.1rem;
    }
}

#introduction{
font-family: var(--main-body-font);
text-align: left;
margin: 0px;
padding: var(--introduction-padding);
color: var(--main-body-text-color);
padding-bottom: 1rem;
font-size: 40px;
}


@keyframes nav-text {
0%, 100% {
    transform: translateY(0)
}
50% {
    transform: translateY(-15px);
}
}

.navbar ul {
   list-style-type: none;
   background-color: var(--menu-color);
   padding: 0px;
   margin: 0px; 
   overflow: hidden;
   font-family: var(--menu-font);
   display: flex;
   flex-direction: column;
   justify-content: left;
   animation: title-slide-in 2s 1 forwards;
}

.navbar ul li{
animation: nav-text 0.6s 4 ease-in-out;
}

@media (min-width: 768px) {
.navbar ul{
  display: flex;
  flex-direction: row;
 }    
}
  


.navbar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: transform 0.3s ease-in-out
}
.navbar a:hover {
    background-color: #7a796f;
    cursor: cell;
    transform: scale(1.2)
}

.navbar li{
    text-align: left;
}

#contact {
    padding-right: 10%;
    font-size: var(--main-body-font-size);
    text-decoration: underline; color: white;
}




.HomePageTitle {
font-family: var(--main-body-font);
} 





.container #image1{
    border-radius: 8%;
    max-width: 75%;
    object-fit: contain;
    display: flex;
    text-align: center;
    min-width: 45%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: var(--secondary-color); 
    max-width: 1250px;
    margin: 0;
    padding: 16px;
    font-weight: bold;
    border-radius: 4%;
    margin: 0 auto;
    margin-top: 1rem;
   }

   .container #introduction {

    border: black 2px solid;
    margin-right: 2%;
    padding-top: 3%;
    padding-bottom: 8%;

   }




@media (min-width: 768px) {
   .container {
    flex-direction: row;
    
   }

}


#image1 {

    max-width: 40%;
    border-radius: 8%;

}

#image2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px;
    padding: 16px;
}



#DefPageSettings {
    background-color: var(--secondary-color); 
    width: 500px; 
    height: 400px;
    max-width: 100%;
    text-align: left;
    padding: var(--def-page-padding);
    font-weight: bold;
}


 .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 15px;
    grid-gap: 10px;
}



 .grid-container div{
    padding: 15px;
    border: 1px solid black;
    background-color: var(--secondary-color);
 }


 .grid-content header {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
 }

 .grid-content p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .footer {
    background: var(--menu-color);
    width: 100%;
    margin-top: 200px;
 }

 .bottom_header h2{
    padding: 24px;
    text-align: center;
 }

 .footer_content a {

text-decoration: none;
color: var(--footer-color);
font-size: 15px;
margin: 15px;

 }

 .footer_content h2{
color: var(--footer-color);
font-size: 22px;
margin: 15px;
 }

 .footer_content p {

color: var(--footer-color);
font-size: 15px;
margin: 15px;

 }

 .footer .footer_content {
    display: flex;
    justify-content: space-evenly;
 }

 .footer_content a:hover {
    color: yellow;
 }

@media(max-width: 730px) {


 .footer .footer_content {
    display: flex;
    flex-direction: column;
    text-align: center; 
 }


}
